mock
pytest
APScheduler==3.5.3
astropy==3.0.4
cloudpickle==0.5.6
dask==2021.10.0
decorator==4.3.0
ephem==3.7.6.0
future==0.16.0
iso8601==0.1.12
libtiff==0.4.2
networkx==2.2
numpy==1.15.2
Pillow==8.2.0
PyQt5==5.11.2
PyQt5-sip==4.19.12
pyserial==3.4
pytz==2018.5
PyWavelets==1.0.1
# PyYAML==3.13
pyyaml>=4.2b1
scikit-image==0.14.0
scipy==1.1.0
six==1.11.0
toolz==0.9.0
tzlocal==1.5.1
